@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.6);
  }
}

.animate-zoom-in {
  animation-name: zoom-in;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@media (max-width: 380px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-next::after {
    display: none !important;
  }
}

.custom-img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/iowa-a4fe8.appspot.com/o/galleryPage%2FDSC_0969-min.jpg?alt=media&token=a82b4438-a9c9-4a81-bdca-12c70555bf4b");
}

.rbc-month-header {
  background-color: #ecfdf5;
  color: #047857;
}

.rbc-month-view {
  background-color: #ecfdf5;
}

/* .swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
} */

.sidebar {
  width: 240px;
  transition: width 0.3s ease;
}

.sidebar.closed {
  width: 60px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 0;
  }
  .sidebar.closed {
    width: 0;
  }
  .sidebar.closed .sidebar-toggle {
    display: block;
  }
}
