@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.6);
  }
}

.animate-zoom-in {
  animation-name: zoom-in;
  animation-duration: 30s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.2;
}
